.button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex; /* Add this to center the text vertically */
    justify-content: center; /* Add this to center the text horizontally */
    align-items: center; /* Add this to center the text vertically */
    font-size: 48px;
    border: none;
    color: #da0101;

    background: #010024;

}

.button:hover{
    background-color: rgb(0, 132, 155);
}

.container{
    border-radius: 10px;
    background: #da0101;
    box-shadow:  13px 13px 26px #960101,
             -13px -13px 26px #ff0101;
    width: 350px;
    height: 330px;
    padding: 30px 30px 30px 30px;
    align-items: center; /* Add this to center the text vertically */
    justify-content: center; /* Add this to center the text horizontally */
    margin: 40px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    width: 330px;
    margin: 0 auto; /* Simplify the margin settings */
}

h1, h2, h3 {
    text-align: center;
    margin: 0 auto; /* Simplify the margin settings */
    /* Remove the fixed width to make it more flexible */
}

body {
    max-width: 500px;
    margin: 0 auto; /* Simplify the margin settings */
    background-color: #da0101;
    color:010024;
}