.button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex; /* Add this to center the text vertically */
    justify-content: center; /* Add this to center the text horizontally */
    align-items: center; /* Add this to center the text vertically */
    font-size: 48px;
    border: none;
    color: #0803fa;
    background: #010024;

}

.button:hover{
    background-color: #0703fa44;
}

.container{
    border-radius: 10px;
    background: #2e2e2e2d;
    box-shadow:  0px 0px 150px 20px #0803fa;
    width: 350px;
    height: 330px;
    padding: 30px 30px 30px 30px;
    align-items: center; /* Add this to center the text vertically */
    justify-content: center; /* Add this to center the text horizontally */
    margin: 40px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    width: 330px;
    margin: 0 auto; /* Simplify the margin settings */
}

h1, h2, h3 {
    text-align: center;
    margin: 0 auto; /* Simplify the margin settings */
    font-family: "Lucida Console", "Courier New", monospace;
    /* Remove the fixed width to make it more flexible */
}

body {
    max-width: 500px;
    margin: 0 auto; /* Simplify the margin settings */
    background-color: #010036;
    color: #6b68ff;
}